@import "./variables";

.root {
    resize: none;
    overflow: hidden;
    width: 100%;
    background: $bg;
    color: $sub-font;
    font-size: 22px;
    border: none;
    transition: all 0.25s ease;

    &::placeholder {
        color: $sub-font;
        transition: all 0.25s ease;
    }

    &:hover::placeholder {
        opacity: 0.5;
    }

    &:focus::placeholder {
        opacity: 0;
    }

    &:focus {
        color: $font;
    }
}

.incorrect {
    color: $incorrect;

    &:focus {
        color: $incorrect;
    }
}

.success {
    color: $success;

    &:focus {
        color: $success;
    }
}

.failed {
    color: $sub-font;

    &:focus {
        color: $sub-font;
    }
}